/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

$base-blue: #0149B7;
$base-lightblue: #00DFFC;
$base-yellow: #FFF685;
$base-lightpink: #F95890;
$base-pink: #FE1D57;
$pur-white:#fff;
$bg-black: #1e2334;
//*********************************************//
#loading-overlay{
	width: 100%;
	height:100%;
	position: fixed;
	float: center;
	background-color: #000;
	opacity: 0;
	display: none;
}
.loading-animation {
	position:absolute;
	top:50%;
	left:50%;
}
//*********************************************//
#main-stage{
	position: relative;
	 width: auto;
	 height:auto;
}
#grid{
	background-color: rgba(255, 255, 255, 0);
	height:auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center;
}
.image-grid, #container-zoom{
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	margin: 50px;
}
.image-grid{
	min-width: 150px;
	min-height: 120px;
    background-color: rgba(255, 255, 255, 0);
	max-width: 350px;
	max-height: 550px;
	-webkit-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
	background-size: cover;	
}
.image-grid:hover{
	opacity:0.75;
}
.image-grid img, #zoom img{
	display: block;
	width: 100%;
	height: 100%;	
}
.image-grid img{
	position: relative;
	-o-object-fit: cover;
	   object-fit: cover;
	-webkit-box-shadow: 5px 4px 10px -1px #000000; 
     box-shadow: 5px 4px 10px -1px #000000;	
}
.compat-object-fit {
	background-repeat: no-repeat;
	background-position: center center;
}
.title_innerGalerie{
	   font-size: 120px;
       font-family: "Oswald", sans-serif;
       font-weight: 700;
	   text-transform: uppercase;
	   color: $base-pink;
	   margin-left: 20px;
	   margin-bottom: 3px;
}
.description_name{
	   font-size: 15px;
       font-family: "Oswald", sans-serif;
       font-weight: 700;
       text-transform: uppercase;
	   color: $base-pink;
	   margin-bottom: 0;
}
.description_technical{
	   font-size: 12px;
       font-family: "Oswald", sans-serif;
       font-weight: 700;
       text-transform: uppercase;
	   color: #ffffff;
	   margin-top: 0;
}
//*********************************************//
.toile img, #zoom img{
	display: block;
	width: 200%;
	height: 100%;
	margin: auto;	
}
.title_innerGalerie2{
	font-size: 120px;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: $base-yellow;
	margin-left: 20px;
	margin-bottom: 3px;
}
//*********************************************//
.title_innerGalerie3{
	font-size: 100px;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: $base-blue;
	margin-left: 20px;
	margin-bottom: 3px;
}
//*********************************************//
.row > .col_galerie {
	padding: 0 8px;
  } 
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  .column {
	display: inline;
  } 
//*********************************************//
.modal,
.modalTwo,
.modalThree{
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 80%;
	height: 80%;
	overflow: none;
	text-align: center;
	background-color: rgba(12, 11, 11, 0.884);
	width: 100%;
	height: 100%;
  }
.modal img {
	max-height: 700px;
	max-width: 700px;
}
.modalTwo img {
	max-height: 700px;
	max-width: 700px;
}
.modalthree img {
	max-height: 700px;
	max-width: 700px;
}
//*********************************************//
.modal-content,
.modal-contentTwo,
.modal-contentThree{
	position: relative;
	background-color: $bg-black;
	margin: auto;
	padding: 0;
	width: 100%;
	height: 100%;
	max-width: 1200px;
  }
//*********************************************//
  .close {
	color: $base-pink;
	position: absolute;
	top: 10px;
	right: 300px;
	font-size: 80px;
	font-weight: bold;
	cursor: pointer;
	right: 5px;
  }
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  .mySlides,
  .mySlidesTwo,
  .mySlidesThree {
	display: none;
  }
//*********************************************//
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;;
	color: $base-pink;
	font-weight: bold;
	font-size: 50px;
	-webkit-transition: 0.6s ease;
	-o-transition: 0.6s ease;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	-moz-user-select: none;
	 -ms-user-select: none;
	     user-select: none;
	-webkit-user-select: none;
  }
//*********************************************//
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  .prev {
	left: 0;
	border-radius: 3px 0 0 3px;
  }
//*********************************************//
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
	font-size: 70px;
  }
//*********************************************//
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  img {
	margin-bottom: -4px;
  }
  .caption-container, 
  .caption-containerTwo
  .caption-containerThree  {
	text-align: center;
	background-color: $bg-black; 
	padding: 2px 16px;
	color: white;
  }
  .demo,
  .demoTwo,
  .demoThree {
	opacity: 0.1;
  }
  .active,
  .demo:hover {
	opacity: 1;
  }
  .activeTwo,
  .demoTwo:hover {
	opacity: 1;
  }
  .activeThree
  .demoThree:hover {
	opacity: 1;
  }
  img.hover-shadow {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
  }
  .hover-shadow:hover {
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }