   #statue-image {
      display: grid;
      height: 100vh;
      width: 100%;
      grid-template-columns: 1fr;  
      grid-template-rows: 1fr 1fr;
      justify-content: center;
    }
   #statue_head{   
      grid-column: 1 / 1;
      grid-row: 1 / 2;
      z-index:16 ;
      margin-top: 130px;
      margin-left: 500px;
      animation: 8s move_statue_head infinite;
    }
      @keyframes move_statue_head {
        0% {
            transform: translateX(0.5rem) scale(0.9);
           } 50% {
            transform: translateX(0rem) scale(1);
           } 100% {
             transform: translateX(0.5rem) scale(0.9);
           } 
    }
    #statue_brow {
       grid-column: 1 / 1;
       grid-row: 1 / 2;
       margin-top: 140px;
       margin-left: 500px;
       z-index: 14;
       animation: 10s move_statue_brow infinite;
    }
       @keyframes move_statue_brow {
        0% {
            transform: translateX(2rem) scale(0.9);
           } 50% {
            transform: translateX(0rem) scale(1);
           } 100% {
             transform: translateX(1rem) scale(0.9);
           } 
        }  
     #statue_eyes{
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        margin-top: 174px;
        margin-left: 500px;
        z-index: 12;
        animation: 10s move_statue_eyes infinite;
     }
        @keyframes move_statue_eyes {
             0% {
           transform: translateX(-2rem) scale(0.9);
          } 50% {
           transform: translateX(0rem) scale(1);
          } 100% {
            transform: translateX(-2rem) scale(0.9);
          } 
        }
     #statue_piedestal{ 
         grid-column: 1 / 1;
         grid-row: 1 / 2;
         margin-top: 190px;
         margin-left: 450px;
         z-index: 10;
         animation: 10s move_statue_piedestal infinite;
       }
       @keyframes  move_statue_piedestal {
             0% {
            transform: translateX(2rem) scale(0.9);
           } 50% {
            transform: translateX(0rem) scale(1);
           } 100% {
             transform: translateX(1rem) scale(0.9);
           } 
       }
     #statue_txt-bienvenue {
      
     font :  800 8rem Raleway, sans-serif;
     text-transform: uppercase;
     color: #FE1D57;
     grid-column:  1 / 2;
     grid-row: 1 / 3;
     margin : 150px 300px 0 700px;
     z-index: 15;
    //  animation: 4s move_txt-bienvenue;
     animation-name: head;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     &:before{
      content: 'BIENVENUE';
      animation-name: head;
     animation-duration: 10s;
     animation-iteration-count: infinite;
     }
     &:hover {
      animation: 4s move_txt-bienvenue;
    }
     }
  @keyframes head {
      0% { opacity:1; content: "bienvenue"}
      10% { opacity:1; content: "welcome"}
      20% { opacity:1; content: "willkommen"}
      30% { opacity:1; content: "欢迎"}
      40% { opacity:1; content: "Üdvözöljük"}
      50% { opacity:1; content: "مرحبا"}
      60% { opacity:1; content: "benvenuto"}
      70% { opacity:1; content: "bem-vindae"}
      80% { opacity:1; content: "Velkommen"}
      90% {opacity:1; content: "Bienvenido"}
      100% {opacity:1; content: "Hoşgeldiniz"}
      
      
  }
     //-------------
     #statue_txt-dans_la {
     font :  800 8rem Raleway, sans-serif;
     text-transform: uppercase;
     color: #FFF685;
     grid-column:  1 / 2;
     grid-row: 1 / 3;
     margin : 280px 300px 0 700px;
     z-index: 13;
     animation: 3s move_txt-dans_la;
     &:hover {
      animation: 4s move_txt-dzns_la;
    }
     }
     @keyframes move_txt-dans_la {
       0% {
         transform: translatey(27rem) scale(0.9);
         opacity: 0;
       }100%{
         transform: translatey(0rem) scale(1);
         opacity: 1;
       }
     }
     #statue_txt-galerie {
     font :  800 11rem Raleway, sans-serif;
     color: #0149B7;
     grid-column:  1 / 2;
     grid-row: 1 / 3;
     margin : 410px 300px 0 700px;
     z-index: 11;
    //  animation: 4s move_txt-galerie;
     &:hover {
      animation: 4s move_txt-galerie;
    }
     } 
     @keyframes move_txt-galerie {
       0% {
         transform: translatey(0rem) scale(1.2);
         opacity: 0;
       }100%{
         transform: translatey(0rem) scale(1);
         opacity: 1;
       }
     }

     #fleche_statue {
        grid-column:  1 / 2;
        grid-row: 1 / 3;
        margin : 35% 0 0 70%;
        position: relative; 
       
            animation: scrollarrow 2s infinite;
       } 
  @keyframes scrollarrow {
    from{
        opacity: 1;
        transform: translateX(0);  
    }to{
        opacity: 0;
        transform: translateY(25px);
     }
   }
  
        
     