$base-blue: #0149B7;
$base-lightblue: #00DFFC;
$base-yellow: #FFF685;
$base-lightpink: #F95890;
$base-pink: #FE1D57;
$pur-white:#fff;
$bg-black: #1e2334;

// @import "/sass/mixin.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
//--------------------------------------------------------//
html {
  scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font :  800 1.3rem Raleway, sans-serif;
    color: $pur-white;
    cursor: none;
    margin: 0;
    background-color: $bg-black;
    // overflow: hidden;
}
    a {
      list-style-type: none;
      text-decoration: none;
      color: $pur-white;
      &:hover {
        text-decoration: underline;
      }
    }
.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: transform;
    transform-origin: 100% 100%;
    display: inherit;
    }
    .link-grow {
        transform: scale(2);
        background: rgba(255, 255, 255, 0.062);
      }
      .text-pict {
        transform: scale(4);
        background-image: image('background.png');
        -webkit-background-image: image('background.png');
      }
      .scrollDown{
        width: 30px;
        height: 54px;
        border: 3px solid #fff;
        border-radius: 60px;
         position: relative; 
         margin: auto;
            &::before  {
                content: "";
                width: 10px ;
                height: 12px ;
                position: absolute; 
                background: #fff;
                left: 30%; 
                align-items: center;
                border-radius: 50%;
                opacity: 1;
                animation: scrollMouse 2s infinite;
           }
      @keyframes scrollMouse {
        from{
            opacity: 1;
            transform: translateX(0);  
        }to{
            opacity: 0;
            transform: translateY(25px);
         }
       }
      }
  
       .title_animate {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: 80vh;
        }
            .title1 {
             --fill-color: #211dfe;
              margin: 0px;
              padding: 0px;
              }
              .title2 {
               margin: 0px;
               padding: 0px;
               }
      h1 {
     --fill-color: #FE1D57;
     position: relative;
     display: block;
     padding: 4px 0;
     font: 700 9rem Raleway, sans-serif;
     text-decoration: none;
     text-transform: uppercase;
     -webkit-text-stroke: 2px var(--fill-color);
     background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
     color: transparent;
     background-clip: text;
     -webkit-background-clip: text;
     transition: 0.5s linear;
            &:hover {
            background-size: 100%;
           }
     }
     .text_home {
       text-align: end;
       margin-right: 10%;
     }
/*--------menu------------*/
 /* Menu burger */
#menu-burger {
  // position: absolute; 
  // top:2.5em; 
  // right:3.5em; 
  position: fixed;
  display: flex;
  margin: 15px 15px;
  padding-right: 10px;
  font-size: 2.2rem;
  right: 0;
  //text-align: end;  
  // justify-content: end;
  // align-items: flex-end;
  // text-align: center;
  // cursor: inherit;
 
}
#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
  width:30px; 
  height:3.9px; 
  background-color:#F1F1F1; 
  margin: 6px; 
  transition:0.4s;
}
#menu-burger:hover {
  opacity:.75; 
  color: $base-yellow;
  transition:.5s;}
#menu-burger.clicked .bar1 {-webkit-transform:rotate(-45deg) translate(-9px, 6px); transform:rotate(-45deg) translate(-9px, 6px);}
#menu-burger.clicked .bar2 {opacity: 0;}
#menu-burger.clicked .bar3 {-webkit-transform:rotate(45deg) translate(-8px, -8px); transform:rotate(45deg) translate(-8px, -8px);}

/* Main menu (slide) */
#menu {
  position:fixed; 
  z-index:99; 
  left: 100%; 
  top:auto; 
  // background:$bg-black; 
  // background: #00dffc00;
  background: #063b6dc4;
  padding:4em 2em; 
  width: 50%;
  min-height: 80%; 
  // margin-top: 5%;
  //  box-shadow:1px 0 1px #c9c9c9;
}
#menu ul li {list-style:none;}
#menu ul li a {
  display:block; 
  color:#fff; 
  text-decoration:none; 
  font: 700 3rem Raleway, sans-serif;
     text-decoration: none;
     text-transform: uppercase;
  // font-weight:800; 
  // background:#2c3e50; 
  transition:background .5s; 
  // padding:1em; 
  text-align: start; 
  margin-bottom: 1em; 
  // box-shadow:1px 1px 0 #666;
  width:50%;
}
#menu.visible {
  animation:.5s 
  slideRight ease-in forwards; 
  transition-delay:0;
}
#menu.invisible {
  animation:1s slideLeft ease-out forwards; 
  transition-delay:0;
}



/* Animations pour le menu slide */
@keyframes slideRight {
  from {
    left:-5%;
  }to{
    left:0%;
  }
}
@-webkit-keyframes slideRight {
	from {
    left:0%;
  }to{
    left:0%;
  }
}
@keyframes slideLeft {
	from {left:0%;}
	to {left:-250%;}
}
@-webkit-keyframes slideLeft {
	from {left:0%;}
	to {left:-25%;}
}

/* Responsive design */
@media (max-width:1024px) 
{
	#menu {left:-50%; width:50%;}
	#menu-burger.clicked {
    position:fixed;
  }

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:20%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:20%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
}
@media (max-width:600px) 
{
	#menu-burger {top:1em; right:2em; z-index:9999;}
	#menu {left:-100%; width:100%;}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
}

    
  





/* -----------statue ----------*/
// .section2{
//   top: 50%;
//   left: 50%;
// }
      #statue-image {
      display: grid;
      height: 100vh;
      width: 50%;
      grid-template-columns: 1fr;  
      grid-template-rows: 1fr 1fr;
      }
     #statue_head{   
      grid-column: 1 / 1;
      grid-row: 1 / 2;
      z-index:16 ;
      // margin : 38px 0 0 104px;
      margin-top: 130px;
      margin-left: 500px;
       &:hover {
         animation: 4s move_statue_head;
       }
     }
        @keyframes move_statue_head {
          from {
            margin-left: 50%;
            width:80%
          }to{
            width:50%;
          }
        }
       #statue_brow{
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        // margin : 72px 0 0 105px;
        margin-top: 140px;
        margin-left: 500px;
        z-index: 14;
        animation: 3s move_statue_brow;
        }
         @keyframes move_statue_brow {
           0% {
             transform: translateX(27rem) scale(0.9);
             opacity: 0;
           } 100% {
             transform: translateX(0rem) scale(1);
             opacity: 1;
           }
       }  
       #statue_eyes{
       grid-column: 1 / 1;
       grid-row: 1 / 2;
      //  margin : 62px 0 0 52px;
      margin-top: 174px;
      margin-left: 500px;
       z-index: 12;
       animation: 3s move_statue_eyes;
       }
       @keyframes move_statue_eyes {
         from {
          transform: translateX(27rem) scale(0.9);
          opacity: 0;
         } to {
          transform: translateX(0rem) scale(1);
          opacity: 1;
         } 
       }
       #statue_piedestal{ 
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        // margin : 190px 200px 500px 0;
        margin-top: 190px;
        margin-left: 450px;
        z-index: 10;
        animation: 3s move_statue_piedestal;
         }
         @keyframes  move_statue_piedestal {
           from {
             margin-left: 12%;
           } to {
           }
         }
       #statue_txt-bienvenue {
       font-size: 120px;
       font-family: "Oswald", sans-serif;
       font-weight: 700;
       text-transform: uppercase;
       color: #FE1D57;
       grid-column:  1 / 2;
       grid-row: 1 / 3;
       margin : 150px 300px 0 700px;
       z-index: 15;
       animation: 4s move_txt-bienvenue;
       }
       @keyframes move_txt-bienvenue {
         0% {
           transform: translateX(-27rem) scale(0.9);
           opacity: 0;
         } 100% {
           transform: translateX(0rem) scale(1);
           opacity: 1;
         }
       }
       #statue_txt-dans_la {
       font :  800 8rem Raleway, sans-serif;
       text-transform: uppercase;
       color: #FFF685;
       grid-column:  1 / 2;
       grid-row: 1 / 3;
       margin : 280px 300px 0 700px;
       z-index: 13;
       animation: 3s move_txt-dans_la;
       }
       @keyframes move_txt-dans_la {
         0% {
           transform: translatey(27rem) scale(0.9);
           opacity: 0;
         }100%{
           transform: translatey(0rem) scale(1);
           opacity: 1;
         }
       }
       #statue_txt-galerie {
       font :  800 11rem Raleway, sans-serif;
       color: #0149B7;
       grid-column:  1 / 2;
       grid-row: 1 / 3;
       margin : 410px 300px 0 700px;
       z-index: 11;
       animation: 4s move_txt-galerie;
       } 
       @keyframes move_txt-galerie {
         0% {
           transform: translatey(0rem) scale(1.2);
           opacity: 0;
         }100%{
           transform: translatey(0rem) scale(1);
           opacity: 1;
         }
       }