@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
#statue-image {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

#statue_head {
  grid-column: 1/1;
  grid-row: 1/2;
  z-index: 16;
  margin-top: 130px;
  margin-left: 500px;
  animation: 8s move_statue_head infinite;
}

@keyframes move_statue_head {
  0% {
    transform: translateX(0.5rem) scale(0.9);
  }
  50% {
    transform: translateX(0rem) scale(1);
  }
  100% {
    transform: translateX(0.5rem) scale(0.9);
  }
}
#statue_brow {
  grid-column: 1/1;
  grid-row: 1/2;
  margin-top: 140px;
  margin-left: 500px;
  z-index: 14;
  animation: 10s move_statue_brow infinite;
}

@keyframes move_statue_brow {
  0% {
    transform: translateX(2rem) scale(0.9);
  }
  50% {
    transform: translateX(0rem) scale(1);
  }
  100% {
    transform: translateX(1rem) scale(0.9);
  }
}
#statue_eyes {
  grid-column: 1/1;
  grid-row: 1/2;
  margin-top: 174px;
  margin-left: 500px;
  z-index: 12;
  animation: 10s move_statue_eyes infinite;
}

@keyframes move_statue_eyes {
  0% {
    transform: translateX(-2rem) scale(0.9);
  }
  50% {
    transform: translateX(0rem) scale(1);
  }
  100% {
    transform: translateX(-2rem) scale(0.9);
  }
}
#statue_piedestal {
  grid-column: 1/1;
  grid-row: 1/2;
  margin-top: 190px;
  margin-left: 450px;
  z-index: 10;
  animation: 10s move_statue_piedestal infinite;
}

@keyframes move_statue_piedestal {
  0% {
    transform: translateX(2rem) scale(0.9);
  }
  50% {
    transform: translateX(0rem) scale(1);
  }
  100% {
    transform: translateX(1rem) scale(0.9);
  }
}
#statue_txt-bienvenue {
  font: 800 7rem Raleway, sans-serif;
  text-transform: uppercase;
  color: #FE1D57;
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 150px 300px 0 700px;
  z-index: 15;
  animation-name: head;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#statue_txt-bienvenue:before {
  content: "BIENVENUE";
  animation-name: head;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#statue_txt-bienvenue:hover {
  animation: 4s move_txt-bienvenue;
}

@keyframes head {
  0% {
    opacity: 1;
    content: "bienvenue";
  }
  10% {
    opacity: 1;
    content: "welcome";
  }
  20% {
    opacity: 1;
    content: "willkommen";
  }
  30% {
    opacity: 1;
    content: "欢迎";
  }
  40% {
    opacity: 1;
    content: "Üdvözöljük";
  }
  50% {
    opacity: 1;
    content: "مرحبا";
  }
  60% {
    opacity: 1;
    content: "benvenuto";
  }
  70% {
    opacity: 1;
    content: "bem-vindae";
  }
  80% {
    opacity: 1;
    content: "Velkommen";
  }
  90% {
    opacity: 1;
    content: "Bienvenido";
  }
  100% {
    opacity: 1;
    content: "Hoşgeldiniz";
  }
}
#statue_txt-dans_la {
  font: 800 8rem Raleway, sans-serif;
  text-transform: uppercase;
  color: #FFF685;
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 280px 300px 0 700px;
  z-index: 13;
  animation: 3s move_txt-dans_la;
}
#statue_txt-dans_la:hover {
  animation: 4s move_txt-dzns_la;
}

@keyframes move_txt-dans_la {
  0% {
    transform: translatey(27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}
#statue_txt-galerie {
  font: 800 11rem Raleway, sans-serif;
  color: #0149B7;
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 410px 300px 0 700px;
  z-index: 11;
}
#statue_txt-galerie:hover {
  animation: 4s move_txt-galerie;
}

@keyframes move_txt-galerie {
  0% {
    transform: translatey(0rem) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}
#fleche_statue {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 35% 0 0 70%;
  position: relative;
  animation: scrollarrow 2s infinite;
}

@keyframes scrollarrow {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateY(25px);
  }
}
@media screen and (max-width: 1194px) {
  #statue-image {
    width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  #statue-image {
    display: grid;
    height: 100vh;
    width: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin: auto;
  }

  #statue_txt-bienvenue {
    font: 800 5rem Raleway, sans-serif;
    margin: 190px 300px 0 650px;
  }

  #statue_txt-dans_la {
    font: 800 6rem Raleway, sans-serif;
    margin: 319px 100px 0 700px;
  }

  #statue_txt-galerie {
    font: 800 8rem Raleway, sans-serif;
    margin: 440px 550px 0 700px;
  }

  #fleche_statue {
    margin: 35% 0 0 60%;
  }
}
#loading-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  float: center;
  background-color: #000;
  opacity: 0;
  display: none;
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
}

#main-stage {
  position: relative;
  width: auto;
  height: auto;
}

#grid {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.image-grid, #container-zoom {
  position: relative;
  flex: 1 1 auto;
  margin: 50px;
}

.image-grid {
  min-width: 150px;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0);
  max-width: 350px;
  max-height: 550px;
  transition: opacity 0.15s ease-in-out;
  background-size: cover;
}

.image-grid:hover {
  opacity: 0.75;
}

.image-grid img, #zoom img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-grid img {
  position: relative;
  object-fit: cover;
  -webkit-box-shadow: 5px 4px 10px -1px #000000;
  box-shadow: 5px 4px 10px -1px #000000;
}

.compat-object-fit {
  background-repeat: no-repeat;
  background-position: center center;
}

.title_innerGalerie {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FE1D57;
  margin-left: 20px;
  margin-bottom: 3px;
}

.description_name {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FE1D57;
  margin-bottom: 0;
}

.description_technical {
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
}

.toile img, #zoom img {
  display: block;
  width: 200%;
  height: 100%;
  margin: auto;
}

.title_innerGalerie2 {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF685;
  margin-left: 20px;
  margin-bottom: 3px;
}

.title_innerGalerie3 {
  font-size: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0149B7;
  margin-left: 20px;
  margin-bottom: 3px;
}

.row > .col_galerie {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: inline;
}

/*----- The Modal (background) */
.modal,
.modalTwo,
.modalThree {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 80%;
  height: 80%;
  overflow: none;
  text-align: center;
  background-color: rgba(12, 11, 11, 0.884);
  width: 100%;
  height: 100%;
}

.modal img {
  max-height: 700px;
  max-width: 700px;
}

.modalTwo img {
  max-height: 700px;
  max-width: 700px;
}

.modalthree img {
  max-height: 700px;
  max-width: 700px;
}

/*-------Modal Content */
.modal-content,
.modal-contentTwo,
.modal-contentThree {
  position: relative;
  background-color: #1e2334;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

/*-------The Close Button */
.close {
  color: #FE1D57;
  position: absolute;
  top: 10px;
  right: 300px;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
  right: 5px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides,
.mySlidesTwo,
.mySlidesThree {
  display: none;
}

/*------Next & prev---*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: #FE1D57;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/*------Position--next --*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/*-------On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-size: 70px;
}

/* -------Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container,
.caption-containerTwo .caption-containerThree {
  text-align: center;
  background-color: #1e2334;
  padding: 2px 16px;
  color: white;
}

.demo,
.demoTwo,
.demoThree {
  opacity: 0.1;
}

.active,
.demo:hover {
  opacity: 1;
}

.activeTwo,
.demoTwo:hover {
  opacity: 1;
}

.activeThree .demoThree:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.5s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font: 800 1.3rem Raleway, sans-serif;
  color: #fff;
  cursor: none;
  margin: 0;
  background-color: #1e2334;
  overflow-x: hidden;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: transform;
  transform-origin: 100% 100%;
  display: inherit;
  z-index: 99999;
}

.link-grow {
  transform: scale(3);
  background: rgba(255, 255, 255, 0.062);
}

.text-pict {
  transform: scale(3.9);
  background: center 200%/cover no-repeat url("/assets/vrac.png");
}

.scrollDown {
  width: 30px;
  height: 54px;
  border: 3px solid #fff;
  border-radius: 60px;
  position: relative;
  margin: auto;
}
.scrollDown::before {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  background: #fff;
  left: 30%;
  align-items: center;
  border-radius: 50%;
  opacity: 1;
  animation: scrollMouse 2s infinite;
}
@keyframes scrollMouse {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateY(25px);
  }
}

.title_animate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.title1 {
  --fill-color: #211dfe;
  margin: 0px;
  padding: 0px;
}

.title2 {
  margin: 0px;
  padding: 0px;
}

h1 {
  --fill-color: #FE1D57;
  position: relative;
  display: block;
  padding: 4px 0;
  font: 700 9rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.5s linear;
}
h1:hover {
  background-size: 100%;
}

h2 {
  --fill-colortwo: #FE1D57;
  position: relative;
  display: block;
  padding: 4px 0;
  font: 700 9rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-colortwo);
  background: linear-gradient(90deg, #fe1d57 0%, rgba(249, 88, 144, 0) 50%, #fe1d57 0% 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.5s linear;
  animation: 1.2s infinite;
}
h2:hover {
  background-size: 100%;
}

.text_home {
  text-align: end;
  margin-right: 10%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #0c0e16;
}

::-webkit-scrollbar-thumb {
  background: #0149B7;
}

/*--------menu------------*/
/* Menu burger */
#menu-burger {
  position: fixed;
  display: flex;
  margin: 50px 100px;
  padding: 5px 15px;
  padding-right: 10px;
  font-size: 2.2rem;
  right: 0;
  z-index: 1;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
  width: 30px;
  height: 3.9px;
  background-color: #F1F1F1;
  margin: 6px;
  transition: 0.4s;
}

#menu-burger:hover {
  opacity: 0.75;
  color: #FFF685;
  transition: 0.5s;
}

#menu-burger.clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#menu-burger.clicked .bar2 {
  opacity: 0;
}

#menu-burger.clicked .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Main menu (slide) */
#menu {
  position: fixed;
  z-index: 99;
  left: 100%;
  top: auto;
  background: #063b6dc4;
  padding: 4em 2em;
  width: 50%;
  min-height: 80%;
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font: 700 3rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  text-align: start;
  margin-bottom: 1em;
  width: 50%;
}

#menu.visible {
  animation: 0.5s slideRight ease-in forwards;
  transition-delay: 0;
}

#menu.invisible {
  animation: 1s slideLeft ease-out forwards;
  transition-delay: 0;
}

/*-----Animations pour le menu slide-----*/
@keyframes slideRight {
  from {
    left: -5%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes slideRight {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@keyframes slideLeft {
  from {
    left: 0%;
  }
  to {
    left: -250%;
  }
}
@-webkit-keyframes slideLeft {
  from {
    left: 0%;
  }
  to {
    left: -25%;
  }
}
/* Responsive design */
@media (max-width: 1024px) {
  #menu {
    left: -50%;
    width: 250px;
  }

  #menu-burger.clicked {
    position: fixed;
  }

  /* Animations pour le menu slide */
  @keyframes slideRight {
    from {
      left: 20%;
    }
    to {
      left: 0%;
    }
  }
  @-webkit-keyframes slideRight {
    from {
      left: 20%;
    }
    to {
      left: 0%;
    }
  }
  @keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -50%;
    }
  }
  @-webkit-keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -50%;
    }
  }
}
@media (max-width: 600px) {
  #menu-burger {
    top: 1em;
    right: 2em;
    z-index: 9999;
  }

  #menu {
    left: -100%;
    width: 100%;
  }

  /* Animations pour le menu slide */
  @keyframes slideRight {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  @-webkit-keyframes slideRight {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  @keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  @-webkit-keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
}
.section3 {
  margin: 12%;
}

.logoTitleContact {
  text-align: center;
}

.aproposimg {
  width: 30em;
  height: auto;
  transition: 0.3s;
}
.aproposimg:hover {
  transform: translate(0, -2px);
}

@media (max-width: 1024px) {
  .aproposimg {
    width: 20em;
    height: auto;
  }
}
.abouttxt {
  margin: auto;
  width: 30em;
}

.aboutme {
  display: flex;
  justify-content: center;
}

.paperPlane {
  position: absolute;
  height: 50%;
  z-index: -99;
  animation: paperPlaneMove linear 8s infinite;
  animation-timing-function: cubic-bezier(0.4, 0.3, 0.1, 0.1);
  width: 100px;
  height: 80px;
}

@keyframes paperPlaneMove {
  0% {
    left: 0;
    transform: scaleY(2);
    margin-top: 180px;
    width: 100px;
    height: 35px;
  }
  60% {
    transform: scaleY(0);
    width: 56px;
    height: 29px;
    margin-top: 50px;
  }
  66% {
    transform: scaleY(0.5);
    width: 56px;
    height: 29px;
    margin-top: 30px;
  }
  80% {
    transform: scaleY(0.7);
    width: 56px;
    height: 29px;
    margin-top: 20px;
  }
  96% {
    transform: scaleY(1);
    width: 56px;
    height: 29px;
    margin-top: 10px;
  }
  100% {
    left: 100%;
    transform: scaleY(1);
    width: 20px;
    height: 17px;
    margin-top: 0px;
  }
}
.allBoxesContact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin: 0 50% 2% 50%;
  z-index: 1;
}

.titleContact {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.logoTitleContact {
  --fill-color: #FE1D57;
  position: relative;
  display: block;
  font: 700 9rem Raleway, sans-serif;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.5s linear;
}
.logoTitleContact:hover {
  background-size: 100%;
}

.logoSpanContact {
  color: #FFF685;
  font: 700 2.21rem Raleway, sans-serif;
  margin-top: -2px;
}

.formContact {
  background-color: #08080815;
  font: 700 2rem Raleway, sans-serif;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

input {
  background-color: #1e2334;
  border: 1px solid #FE1D57;
  border-radius: 1px;
  height: 40px;
  color: #fff;
}

textarea {
  background-color: #1e2334;
  border: 2px solid #FE1D57;
  border-radius: 5px;
  color: #fff;
}

.identite {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.objet {
  display: flex;
  justify-content: space-around;
}
.objet input {
  width: 80%;
}

.messageAlign {
  display: flex;
}
.messageAlign input {
  width: 80%;
}

textarea::placeholder {
  color: #41414163;
  font: 700 1.4rem Raleway, sans-serif;
}

input::placeholder {
  color: #41414163;
  font: 700 1.4rem Raleway, sans-serif;
}

.buttonSend {
  width: 40%;
  float: right;
  margin-top: 15px;
  color: #fff;
  font: 700 1.4rem Raleway, sans-serif;
}
.buttonSend:hover {
  background: #FE1D57;
}

.boxReseaux {
  background-color: #1e2334;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.rsInsta {
  width: 2em;
  margin-bottom: 40%;
  margin-right: 15px;
}
.rsInsta:hover {
  transform: scale(1.3);
}

.rsPinterest {
  width: 2em;
}
.rsPinterest:hover {
  transform: scale(1.3);
}

.box5-footer {
  background-color: #2a3046;
  grid-area: footer;
  height: 15vh;
  text-align: center;
  padding-top: 1.5%;
  margin-top: 0;
}

/*-----------------*/
.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(68vw, 76vh, 96px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.72;
  height: 6px;
  width: 6px;
  animation-delay: -0.2s;
  transform: translate3d(58vw, 73vh, 31px);
  background: #2650d9;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(1vw, 81vh, 72px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.98;
  height: 8px;
  width: 8px;
  animation-delay: -0.4s;
  transform: translate3d(33vw, 63vh, 68px);
  background: #26a0d9;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(51vw, 47vh, 99px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.23;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(46vw, 89vh, 19px);
  background: #2638d9;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(19vw, 8vh, 56px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.74;
  height: 8px;
  width: 8px;
  animation-delay: -0.8s;
  transform: translate3d(26vw, 73vh, 32px);
  background: #8ed926;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(49vw, 11vh, 64px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.55;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(75vw, 22vh, 11px);
  background: #3b26d9;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(23vw, 37vh, 38px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.73;
  height: 7px;
  width: 7px;
  animation-delay: -1.2s;
  transform: translate3d(7vw, 46vh, 41px);
  background: #d97426;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(59vw, 18vh, 5px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.64;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(77vw, 58vh, 2px);
  background: #77d926;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(85vw, 55vh, 2px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.73;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(81vw, 38vh, 79px);
  background: #26d93b;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(55vw, 10vh, 53px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.75;
  height: 8px;
  width: 8px;
  animation-delay: -1.8s;
  transform: translate3d(51vw, 71vh, 90px);
  background: #a926d9;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(42vw, 79vh, 71px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.86;
  height: 8px;
  width: 8px;
  animation-delay: -2s;
  transform: translate3d(49vw, 59vh, 82px);
  background: #26d944;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(41vw, 8vh, 5px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.31;
  height: 10px;
  width: 10px;
  animation-delay: -2.2s;
  transform: translate3d(46vw, 82vh, 91px);
  background: #d92626;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(25vw, 10vh, 82px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.29;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(62vw, 79vh, 50px);
  background: #26d9ca;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(44vw, 15vh, 65px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.26;
  height: 9px;
  width: 9px;
  animation-delay: -2.6s;
  transform: translate3d(51vw, 17vh, 43px);
  background: #53d926;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(61vw, 20vh, 84px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.89;
  height: 8px;
  width: 8px;
  animation-delay: -2.8s;
  transform: translate3d(81vw, 44vh, 66px);
  background: #26d9a9;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(34vw, 43vh, 43px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.09;
  height: 9px;
  width: 9px;
  animation-delay: -3s;
  transform: translate3d(51vw, 51vh, 9px);
  background: #26d994;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(19vw, 82vh, 31px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.27;
  height: 9px;
  width: 9px;
  animation-delay: -3.2s;
  transform: translate3d(22vw, 86vh, 91px);
  background: #26d9d9;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(12vw, 55vh, 60px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.47;
  height: 6px;
  width: 6px;
  animation-delay: -3.4s;
  transform: translate3d(84vw, 58vh, 99px);
  background: #26d9a3;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(5vw, 73vh, 42px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.66;
  height: 6px;
  width: 6px;
  animation-delay: -3.6s;
  transform: translate3d(5vw, 58vh, 59px);
  background: #d9269d;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(38vw, 54vh, 30px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.36;
  height: 10px;
  width: 10px;
  animation-delay: -3.8s;
  transform: translate3d(56vw, 73vh, 38px);
  background: #a326d9;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(54vw, 43vh, 49px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.32;
  height: 10px;
  width: 10px;
  animation-delay: -4s;
  transform: translate3d(18vw, 29vh, 47px);
  background: #6e26d9;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(39vw, 65vh, 17px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.6;
  height: 8px;
  width: 8px;
  animation-delay: -4.2s;
  transform: translate3d(60vw, 68vh, 71px);
  background: #26d96e;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(88vw, 85vh, 25px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  animation-delay: -4.4s;
  transform: translate3d(13vw, 56vh, 43px);
  background: #26d9a3;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(77vw, 78vh, 27px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.74;
  height: 7px;
  width: 7px;
  animation-delay: -4.6s;
  transform: translate3d(26vw, 14vh, 58px);
  background: #a6d926;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(72vw, 62vh, 93px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.54;
  height: 6px;
  width: 6px;
  animation-delay: -4.8s;
  transform: translate3d(56vw, 16vh, 21px);
  background: #d9a626;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(79vw, 76vh, 32px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.66;
  height: 9px;
  width: 9px;
  animation-delay: -5s;
  transform: translate3d(85vw, 19vh, 44px);
  background: #26d9d3;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(68vw, 23vh, 8px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.22;
  height: 8px;
  width: 8px;
  animation-delay: -5.2s;
  transform: translate3d(6vw, 51vh, 32px);
  background: #7dd926;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(29vw, 68vh, 36px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.23;
  height: 8px;
  width: 8px;
  animation-delay: -5.4s;
  transform: translate3d(43vw, 6vh, 67px);
  background: #6226d9;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(15vw, 39vh, 53px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.23;
  height: 6px;
  width: 6px;
  animation-delay: -5.6s;
  transform: translate3d(56vw, 65vh, 5px);
  background: #26d929;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(20vw, 71vh, 52px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.96;
  height: 10px;
  width: 10px;
  animation-delay: -5.8s;
  transform: translate3d(73vw, 43vh, 50px);
  background: #26d947;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(40vw, 3vh, 45px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.76;
  height: 6px;
  width: 6px;
  animation-delay: -6s;
  transform: translate3d(78vw, 4vh, 55px);
  background: #26d9ac;
}

/*------*/
@media screen and (max-width: 946px) {
  h1 {
    padding: 4px 0;
    font: 700 6rem Raleway, sans-serif;
  }

  h2 {
    font: 700 7rem Raleway, sans-serif;
  }

  .aproposimg {
    width: 10em;
    height: auto;
  }

  .paperPlane {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
