@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
#statue-image {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100%;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#statue-image > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#statue-image > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

#statue_head {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 16;
  margin-top: 130px;
  margin-left: 500px;
  -webkit-animation: 8s move_statue_head infinite;
  animation: 8s move_statue_head infinite;
}

@-webkit-keyframes move_statue_head {
  0% {
    -webkit-transform: translateX(0.5rem) scale(0.9);
    transform: translateX(0.5rem) scale(0.9);
  }
  50% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
  100% {
    -webkit-transform: translateX(0.5rem) scale(0.9);
    transform: translateX(0.5rem) scale(0.9);
  }
}
@keyframes move_statue_head {
  0% {
    -webkit-transform: translateX(0.5rem) scale(0.9);
    transform: translateX(0.5rem) scale(0.9);
  }
  50% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
  100% {
    -webkit-transform: translateX(0.5rem) scale(0.9);
    transform: translateX(0.5rem) scale(0.9);
  }
}
#statue_brow {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-top: 140px;
  margin-left: 500px;
  z-index: 14;
  -webkit-animation: 10s move_statue_brow infinite;
  animation: 10s move_statue_brow infinite;
}

@-webkit-keyframes move_statue_brow {
  0% {
    -webkit-transform: translateX(2rem) scale(0.9);
    transform: translateX(2rem) scale(0.9);
  }
  50% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
  100% {
    -webkit-transform: translateX(1rem) scale(0.9);
    transform: translateX(1rem) scale(0.9);
  }
}
@keyframes move_statue_brow {
  0% {
    -webkit-transform: translateX(2rem) scale(0.9);
    transform: translateX(2rem) scale(0.9);
  }
  50% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
  100% {
    -webkit-transform: translateX(1rem) scale(0.9);
    transform: translateX(1rem) scale(0.9);
  }
}
#statue_eyes {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-top: 174px;
  margin-left: 500px;
  z-index: 12;
  -webkit-animation: 10s move_statue_eyes infinite;
  animation: 10s move_statue_eyes infinite;
}

@-webkit-keyframes move_statue_eyes {
  0% {
    -webkit-transform: translateX(-2rem) scale(0.9);
    transform: translateX(-2rem) scale(0.9);
  }
  50% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
  100% {
    -webkit-transform: translateX(-2rem) scale(0.9);
    transform: translateX(-2rem) scale(0.9);
  }
}
@keyframes move_statue_eyes {
  0% {
    -webkit-transform: translateX(-2rem) scale(0.9);
    transform: translateX(-2rem) scale(0.9);
  }
  50% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
  100% {
    -webkit-transform: translateX(-2rem) scale(0.9);
    transform: translateX(-2rem) scale(0.9);
  }
}
#statue_piedestal {
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-top: 190px;
  margin-left: 450px;
  z-index: 10;
  -webkit-animation: 10s move_statue_piedestal infinite;
  animation: 10s move_statue_piedestal infinite;
}

@-webkit-keyframes move_statue_piedestal {
  0% {
    -webkit-transform: translateX(2rem) scale(0.9);
    transform: translateX(2rem) scale(0.9);
  }
  50% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
  100% {
    -webkit-transform: translateX(1rem) scale(0.9);
    transform: translateX(1rem) scale(0.9);
  }
}
@keyframes move_statue_piedestal {
  0% {
    -webkit-transform: translateX(2rem) scale(0.9);
    transform: translateX(2rem) scale(0.9);
  }
  50% {
    -webkit-transform: translateX(0rem) scale(1);
    transform: translateX(0rem) scale(1);
  }
  100% {
    -webkit-transform: translateX(1rem) scale(0.9);
    transform: translateX(1rem) scale(0.9);
  }
}
#statue_txt-bienvenue {
  font: 800 7rem Raleway, sans-serif;
  text-transform: uppercase;
  color: #FE1D57;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: 150px 300px 0 700px;
  z-index: 15;
  -webkit-animation-name: head;
  animation-name: head;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#statue_txt-bienvenue:before {
  content: "BIENVENUE";
  -webkit-animation-name: head;
  animation-name: head;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#statue_txt-bienvenue:hover {
  -webkit-animation: 4s move_txt-bienvenue;
  animation: 4s move_txt-bienvenue;
}

@-webkit-keyframes head {
  0% {
    opacity: 1;
    content: "bienvenue";
  }
  10% {
    opacity: 1;
    content: "welcome";
  }
  20% {
    opacity: 1;
    content: "willkommen";
  }
  30% {
    opacity: 1;
    content: "欢迎";
  }
  40% {
    opacity: 1;
    content: "Üdvözöljük";
  }
  50% {
    opacity: 1;
    content: "مرحبا";
  }
  60% {
    opacity: 1;
    content: "benvenuto";
  }
  70% {
    opacity: 1;
    content: "bem-vindae";
  }
  80% {
    opacity: 1;
    content: "Velkommen";
  }
  90% {
    opacity: 1;
    content: "Bienvenido";
  }
  100% {
    opacity: 1;
    content: "Hoşgeldiniz";
  }
}
@keyframes head {
  0% {
    opacity: 1;
    content: "bienvenue";
  }
  10% {
    opacity: 1;
    content: "welcome";
  }
  20% {
    opacity: 1;
    content: "willkommen";
  }
  30% {
    opacity: 1;
    content: "欢迎";
  }
  40% {
    opacity: 1;
    content: "Üdvözöljük";
  }
  50% {
    opacity: 1;
    content: "مرحبا";
  }
  60% {
    opacity: 1;
    content: "benvenuto";
  }
  70% {
    opacity: 1;
    content: "bem-vindae";
  }
  80% {
    opacity: 1;
    content: "Velkommen";
  }
  90% {
    opacity: 1;
    content: "Bienvenido";
  }
  100% {
    opacity: 1;
    content: "Hoşgeldiniz";
  }
}
#statue_txt-dans_la {
  font: 800 8rem Raleway, sans-serif;
  text-transform: uppercase;
  color: #FFF685;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: 280px 300px 0 700px;
  z-index: 13;
  -webkit-animation: 3s move_txt-dans_la;
  animation: 3s move_txt-dans_la;
}
#statue_txt-dans_la:hover {
  -webkit-animation: 4s move_txt-dzns_la;
  animation: 4s move_txt-dzns_la;
}

@-webkit-keyframes move_txt-dans_la {
  0% {
    -webkit-transform: translatey(27rem) scale(0.9);
    transform: translatey(27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0rem) scale(1);
    transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}
@keyframes move_txt-dans_la {
  0% {
    -webkit-transform: translatey(27rem) scale(0.9);
    transform: translatey(27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0rem) scale(1);
    transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}
#statue_txt-galerie {
  font: 800 11rem Raleway, sans-serif;
  color: #0149B7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: 410px 300px 0 700px;
  z-index: 11;
}
#statue_txt-galerie:hover {
  -webkit-animation: 4s move_txt-galerie;
  animation: 4s move_txt-galerie;
}

@-webkit-keyframes move_txt-galerie {
  0% {
    -webkit-transform: translatey(0rem) scale(1.2);
    transform: translatey(0rem) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0rem) scale(1);
    transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}
@keyframes move_txt-galerie {
  0% {
    -webkit-transform: translatey(0rem) scale(1.2);
    transform: translatey(0rem) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0rem) scale(1);
    transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}
#fleche_statue {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: 35% 0 0 70%;
  position: relative;
  -webkit-animation: scrollarrow 2s infinite;
  animation: scrollarrow 2s infinite;
}

@-webkit-keyframes scrollarrow {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
@keyframes scrollarrow {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
@media screen and (max-width: 1194px) {
  #statue-image {
    width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  #statue-image {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    width: 200px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
  }

  #statue-image > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #statue-image > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  #statue_txt-bienvenue {
    font: 800 5rem Raleway, sans-serif;
    margin: 190px 300px 0 650px;
  }

  #statue_txt-dans_la {
    font: 800 6rem Raleway, sans-serif;
    margin: 319px 100px 0 700px;
  }

  #statue_txt-galerie {
    font: 800 8rem Raleway, sans-serif;
    margin: 440px 550px 0 700px;
  }

  #fleche_statue {
    margin: 35% 0 0 60%;
  }
}
@media screen and (max-width: 700px) {
  #statue-image {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    width: min-content;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5px;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
#loading-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  float: center;
  background-color: #000;
  opacity: 0;
  display: none;
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
}

#main-stage {
  position: relative;
  width: auto;
  height: auto;
}

#grid {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.image-grid, #container-zoom {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 50px;
}

.image-grid {
  min-width: 150px;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0);
  max-width: 350px;
  max-height: 550px;
  -webkit-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  background-size: cover;
}

.image-grid:hover {
  opacity: 0.75;
}

.image-grid img, #zoom img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-grid img {
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 5px 4px 10px -1px #000000;
  box-shadow: 5px 4px 10px -1px #000000;
}

.compat-object-fit {
  background-repeat: no-repeat;
  background-position: center center;
}

.title_innerGalerie {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FE1D57;
  margin-left: 20px;
  margin-bottom: 3px;
}

.description_name {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FE1D57;
  margin-bottom: 0;
}

.description_technical {
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
}

.toile img, #zoom img {
  display: block;
  width: 200%;
  height: 100%;
  margin: auto;
}

.title_innerGalerie2 {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF685;
  margin-left: 20px;
  margin-bottom: 3px;
}

.title_innerGalerie3 {
  font-size: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0149B7;
  margin-left: 20px;
  margin-bottom: 3px;
}

.row > .col_galerie {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: inline;
}

.modal,
.modalTwo,
.modalThree {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 80%;
  height: 80%;
  overflow: none;
  text-align: center;
  background-color: rgba(12, 11, 11, 0.884);
  width: 100%;
  height: 100%;
}

.modal img {
  max-height: 700px;
  max-width: 700px;
}

.modalTwo img {
  max-height: 700px;
  max-width: 700px;
}

.modalthree img {
  max-height: 700px;
  max-width: 700px;
}

.modal-content,
.modal-contentTwo,
.modal-contentThree {
  position: relative;
  background-color: #1e2334;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.close {
  color: #FE1D57;
  position: absolute;
  top: 10px;
  right: 300px;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
  right: 5px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides,
.mySlidesTwo,
.mySlidesThree {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: #FE1D57;
  font-weight: bold;
  font-size: 50px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-size: 70px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container,
.caption-containerTwo .caption-containerThree {
  text-align: center;
  background-color: #1e2334;
  padding: 2px 16px;
  color: white;
}

.demo,
.demoTwo,
.demoThree {
  opacity: 0.1;
}

.active,
.demo:hover {
  opacity: 1;
}

.activeTwo,
.demoTwo:hover {
  opacity: 1;
}

.activeThree .demoThree:hover {
  opacity: 1;
}

img.hover-shadow {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 800 1.3rem Raleway, sans-serif;
  color: #fff;
  cursor: none;
  margin: 0;
  background-color: #1e2334;
  overflow-x: hidden;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  display: inherit;
  z-index: 99999;
}

.link-grow {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  background: rgba(255, 255, 255, 0.062);
}

.text-pict {
  -webkit-transform: scale(3.9);
  -ms-transform: scale(3.9);
  transform: scale(3.9);
  background: center 200%/cover no-repeat url("/assets/vrac.png");
}

.scrollDown {
  width: 30px;
  height: 54px;
  border: 3px solid #fff;
  border-radius: 60px;
  position: relative;
  margin: auto;
}
.scrollDown::before {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  background: #fff;
  left: 30%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: scrollMouse 2s infinite;
  animation: scrollMouse 2s infinite;
}
@-webkit-keyframes scrollMouse {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}
@keyframes scrollMouse {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
}

.title_animate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80vh;
}

.title1 {
  --fill-color: #211dfe;
  margin: 0px;
  padding: 0px;
}

.title2 {
  margin: 0px;
  padding: 0px;
}

h1 {
  --fill-color: #FE1D57;
  position: relative;
  display: block;
  padding: 4px 0;
  font: 700 9rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--fill-color))) left/0 no-repeat;
  background: -o-linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
h1:hover {
  background-size: 100%;
}

h2 {
  --fill-colortwo: #FE1D57;
  position: relative;
  display: block;
  padding: 4px 0;
  font: 700 9rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-colortwo);
  background: -webkit-gradient(linear, left top, right top, from(#fe1d57), color-stop(50%, rgba(249, 88, 144, 0)), color-stop(0%, #fe1d57)) left/0 no-repeat;
  background: -o-linear-gradient(left, #fe1d57 0%, rgba(249, 88, 144, 0) 50%, #fe1d57 0% 100%) left/0 no-repeat;
  background: linear-gradient(90deg, #fe1d57 0%, rgba(249, 88, 144, 0) 50%, #fe1d57 0% 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-animation: 1.2s infinite;
  animation: 1.2s infinite;
}
h2:hover {
  background-size: 100%;
}

.text_home {
  text-align: end;
  margin-right: 10%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #0c0e16;
}

::-webkit-scrollbar-thumb {
  background: #0149B7;
}

/*--------menu------------*/
#menu-burger {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 100px;
  padding: 5px 15px;
  padding-right: 10px;
  font-size: 2.2rem;
  right: 0;
  z-index: 1;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
  width: 30px;
  height: 3.9px;
  background-color: #F1F1F1;
  margin: 6px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#menu-burger:hover {
  opacity: 0.75;
  color: #FFF685;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#menu-burger.clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#menu-burger.clicked .bar2 {
  opacity: 0;
}

#menu-burger.clicked .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*-------------menu left-----------------------*/
#menu {
  position: fixed;
  z-index: 99;
  left: 100%;
  top: auto;
  background: #063b6dc4;
  padding: 4em 2em;
  width: 50%;
  min-height: 80%;
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font: 700 3rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: start;
  margin-bottom: 1em;
  width: 50%;
}

#menu.visible {
  -webkit-animation: 0.5s slideRight ease-in forwards;
  animation: 0.5s slideRight ease-in forwards;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

#menu.invisible {
  -webkit-animation: 1s slideLeft ease-out forwards;
  animation: 1s slideLeft ease-out forwards;
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

/*-------------slide annimation------------------------*/
@keyframes slideRight {
  from {
    left: -5%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes slideRight {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}
@keyframes slideLeft {
  from {
    left: 0%;
  }
  to {
    left: -250%;
  }
}
@-webkit-keyframes slideLeft {
  from {
    left: 0%;
  }
  to {
    left: -25%;
  }
}
/*-----------media query slide---------------*/
@media (max-width: 1024px) {
  #menu {
    left: -50%;
    width: 250px;
  }

  #menu-burger.clicked {
    position: fixed;
  }

  /* Animations pour le menu slide */
  @keyframes slideRight {
    from {
      left: 20%;
    }
    to {
      left: 0%;
    }
  }
  @-webkit-keyframes slideRight {
    from {
      left: 20%;
    }
    to {
      left: 0%;
    }
  }
  @keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -50%;
    }
  }
  @-webkit-keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -50%;
    }
  }
}
@media (max-width: 600px) {
  #menu-burger {
    top: 1em;
    right: 2em;
    z-index: 9999;
  }

  #menu {
    left: -100%;
    width: 100%;
  }

  /*------------Animation menu slide--------------------*/
  @keyframes slideRight {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  @-webkit-keyframes slideRight {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  @keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  @-webkit-keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
}
/*-----------------------------------------*/
.section3 {
  margin: 12%;
}

.logoTitleContact {
  text-align: center;
}

.aproposimg {
  width: 30em;
  height: auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.aproposimg:hover {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

@media (max-width: 1024px) {
  .aproposimg {
    width: 20em;
    height: auto;
  }
}
.abouttxt {
  margin: auto;
  width: 30em;
}

.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paperPlane {
  position: absolute;
  height: 50%;
  z-index: -99;
  -webkit-animation: paperPlaneMove linear 8s infinite;
  animation: paperPlaneMove linear 8s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.3, 0.1, 0.1);
  animation-timing-function: cubic-bezier(0.4, 0.3, 0.1, 0.1);
  width: 100px;
  height: 80px;
}

@-webkit-keyframes paperPlaneMove {
  0% {
    left: 0;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    margin-top: 180px;
    width: 100px;
    height: 35px;
  }
  60% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    width: 56px;
    height: 29px;
    margin-top: 50px;
  }
  66% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 56px;
    height: 29px;
    margin-top: 30px;
  }
  80% {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    width: 56px;
    height: 29px;
    margin-top: 20px;
  }
  96% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    width: 56px;
    height: 29px;
    margin-top: 10px;
  }
  100% {
    left: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    width: 20px;
    height: 17px;
    margin-top: 0px;
  }
}
@keyframes paperPlaneMove {
  0% {
    left: 0;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    margin-top: 180px;
    width: 100px;
    height: 35px;
  }
  60% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    width: 56px;
    height: 29px;
    margin-top: 50px;
  }
  66% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 56px;
    height: 29px;
    margin-top: 30px;
  }
  80% {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
    width: 56px;
    height: 29px;
    margin-top: 20px;
  }
  96% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    width: 56px;
    height: 29px;
    margin-top: 10px;
  }
  100% {
    left: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    width: 20px;
    height: 17px;
    margin-top: 0px;
  }
}
.allBoxesContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  margin: 0 50% 2% 50%;
  z-index: 1;
}

.titleContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center;
}

.logoTitleContact {
  --fill-color: #FE1D57;
  position: relative;
  display: block;
  font: 700 9rem Raleway, sans-serif;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--fill-color))) left/0 no-repeat;
  background: -o-linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.logoTitleContact:hover {
  background-size: 100%;
}

.logoSpanContact {
  color: #FFF685;
  font: 700 2.21rem Raleway, sans-serif;
  margin-top: -2px;
}

.formContact {
  background-color: #08080815;
  font: 700 2rem Raleway, sans-serif;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}

input {
  background-color: #1e2334;
  border: 1px solid #FE1D57;
  border-radius: 1px;
  height: 40px;
  color: #fff;
}

textarea {
  background-color: #1e2334;
  border: 2px solid #FE1D57;
  border-radius: 5px;
  color: #fff;
}

.identite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.objet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
}
.objet input {
  width: 80%;
}

.messageAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.messageAlign input {
  width: 80%;
}

.buttonSend {
  width: 40%;
  float: right;
  margin-top: 15px;
  color: #fff;
  font: 700 1.4rem Raleway, sans-serif;
}
.buttonSend:hover {
  background: #FE1D57;
}

.boxReseaux {
  background-color: #1e2334;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10%;
}

.rsInsta {
  width: 2em;
  margin-bottom: 40%;
  margin-right: 15px;
}
.rsInsta:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.rsPinterest {
  width: 2em;
}
.rsPinterest:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.box5-footer {
  background-color: #2a3046;
  grid-area: footer;
  height: 15vh;
  text-align: center;
  padding-top: 1.5%;
  margin-top: 0;
}

/*-----------------------------------------*/
@media screen and (max-width: 946px) {
  h1 {
    padding: 4px 0;
    font: 700 6rem Raleway, sans-serif;
  }

  h2 {
    font: 700 7rem Raleway, sans-serif;
  }

  .aproposimg {
    width: 20em;
    height: auto;
  }

  .paperPlane {
    display: none;
  }
}
.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(39vw, 90vh, 95px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.48;
  height: 9px;
  width: 9px;
  animation-delay: -0.2s;
  transform: translate3d(67vw, 61vh, 4px);
  background: #268bd9;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(30vw, 61vh, 45px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.33;
  height: 10px;
  width: 10px;
  animation-delay: -0.4s;
  transform: translate3d(75vw, 49vh, 30px);
  background: #a0d926;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(33vw, 85vh, 100px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.82;
  height: 6px;
  width: 6px;
  animation-delay: -0.6s;
  transform: translate3d(61vw, 5vh, 26px);
  background: #2665d9;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(64vw, 67vh, 6px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.43;
  height: 6px;
  width: 6px;
  animation-delay: -0.8s;
  transform: translate3d(52vw, 59vh, 65px);
  background: #d9cd26;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(13vw, 23vh, 52px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.74;
  height: 6px;
  width: 6px;
  animation-delay: -1s;
  transform: translate3d(10vw, 16vh, 45px);
  background: #d926d3;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(11vw, 42vh, 20px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.95;
  height: 8px;
  width: 8px;
  animation-delay: -1.2s;
  transform: translate3d(11vw, 76vh, 72px);
  background: #2f26d9;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(7vw, 12vh, 60px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.1;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(49vw, 78vh, 39px);
  background: #d92626;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(64vw, 10vh, 64px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.65;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(61vw, 22vh, 29px);
  background: #5c26d9;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(39vw, 54vh, 41px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.91;
  height: 10px;
  width: 10px;
  animation-delay: -1.8s;
  transform: translate3d(9vw, 14vh, 27px);
  background: #d9264d;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(78vw, 32vh, 65px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.2;
  height: 9px;
  width: 9px;
  animation-delay: -2s;
  transform: translate3d(61vw, 11vh, 30px);
  background: #26d985;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(58vw, 43vh, 13px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.14;
  height: 6px;
  width: 6px;
  animation-delay: -2.2s;
  transform: translate3d(27vw, 38vh, 27px);
  background: #26b8d9;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(45vw, 58vh, 3px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.88;
  height: 10px;
  width: 10px;
  animation-delay: -2.4s;
  transform: translate3d(3vw, 10vh, 48px);
  background: #26d9a9;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(8vw, 1vh, 76px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.9;
  height: 7px;
  width: 7px;
  animation-delay: -2.6s;
  transform: translate3d(40vw, 85vh, 68px);
  background: #2641d9;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(38vw, 1vh, 71px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.59;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(21vw, 18vh, 7px);
  background: #4a26d9;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(54vw, 56vh, 56px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.08;
  height: 7px;
  width: 7px;
  animation-delay: -3s;
  transform: translate3d(54vw, 36vh, 45px);
  background: #26d929;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(87vw, 42vh, 28px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.27;
  height: 10px;
  width: 10px;
  animation-delay: -3.2s;
  transform: translate3d(79vw, 59vh, 99px);
  background: #26d99a;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(77vw, 76vh, 79px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.71;
  height: 7px;
  width: 7px;
  animation-delay: -3.4s;
  transform: translate3d(16vw, 14vh, 22px);
  background: #d93b26;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(53vw, 20vh, 70px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.07;
  height: 7px;
  width: 7px;
  animation-delay: -3.6s;
  transform: translate3d(50vw, 60vh, 48px);
  background: #d92647;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(46vw, 80vh, 34px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.48;
  height: 10px;
  width: 10px;
  animation-delay: -3.8s;
  transform: translate3d(4vw, 65vh, 10px);
  background: #4ad926;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(38vw, 19vh, 54px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.2;
  height: 8px;
  width: 8px;
  animation-delay: -4s;
  transform: translate3d(44vw, 37vh, 89px);
  background: #9d26d9;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(47vw, 81vh, 100px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  animation-delay: -4.2s;
  transform: translate3d(6vw, 88vh, 61px);
  background: #c126d9;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(73vw, 43vh, 33px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.28;
  height: 10px;
  width: 10px;
  animation-delay: -4.4s;
  transform: translate3d(66vw, 25vh, 85px);
  background: #267dd9;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(77vw, 25vh, 53px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.49;
  height: 9px;
  width: 9px;
  animation-delay: -4.6s;
  transform: translate3d(80vw, 10vh, 57px);
  background: #d0d926;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(20vw, 69vh, 67px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.64;
  height: 8px;
  width: 8px;
  animation-delay: -4.8s;
  transform: translate3d(41vw, 35vh, 39px);
  background: #d9d626;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(34vw, 35vh, 71px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.94;
  height: 8px;
  width: 8px;
  animation-delay: -5s;
  transform: translate3d(9vw, 48vh, 18px);
  background: #26d9c7;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(45vw, 6vh, 67px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.34;
  height: 9px;
  width: 9px;
  animation-delay: -5.2s;
  transform: translate3d(3vw, 49vh, 15px);
  background: #d97426;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(1vw, 7vh, 97px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.13;
  height: 9px;
  width: 9px;
  animation-delay: -5.4s;
  transform: translate3d(56vw, 10vh, 33px);
  background: #26d9be;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(74vw, 26vh, 71px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.32;
  height: 8px;
  width: 8px;
  animation-delay: -5.6s;
  transform: translate3d(74vw, 50vh, 88px);
  background: #26a3d9;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(80vw, 19vh, 7px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.05;
  height: 8px;
  width: 8px;
  animation-delay: -5.8s;
  transform: translate3d(32vw, 25vh, 69px);
  background: #d92694;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(59vw, 88vh, 41px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.11;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(4vw, 5vh, 3px);
  background: #d99426;
}

/*-----------------------------------------*/
@media screen and (max-width: 780px) {
  #menu-burger {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.2rem;
    z-index: 1;
    margin-right: 45%;
  }

  #menu {
    position: fixed;
    z-index: 99;
    left: 100%;
    top: auto;
    background: #063b6dc4;
    padding: 4em 2em;
    width: 20%;
    min-height: 80%;
  }
}
/*-----------------------------------------*/
@media screen and (max-width: 700px) {
  body {
    width: max-content;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    cursor: none;
    width: 100%;
  }

  .particle-container {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: stretch;
  }

  .particle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font: 700 6.9rem Raleway, sans-serif;
    display: flex;
    text-align: center;
  }

  h2 {
    font: 700 8rem Raleway, sans-serif;
  }

  .title_animate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: max-content;
    -webkit-box-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    margin: auto;
  }

  .text_home {
    text-align: center;
    margin-right: -20%;
    font-size: 0.8em;
    margin-top: -15%;
  }

  #menu-burger {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.2rem;
    z-index: 1;
    margin: 0;
  }

  #menu ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font: 700 2rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-align: start;
    margin-bottom: 1em;
    width: 40%;
  }

  #menu {
    position: fixed;
    z-index: 99;
    left: 100%;
    top: auto;
    background: #063b6dc4;
    padding: 4em 2em;
    width: 20%;
    min-height: 80%;
  }

  .title_innerGalerie3 {
    font-size: 40px;
  }

  .title_innerGalerie2 {
    font-size: 50px;
  }

  .title_innerGalerie {
    font-size: 50px;
  }

  .scrollDown {
    margin-left: 55%;
  }

  .logoTitleContact {
    font-size: 60px;
  }

  .abouttxt {
    margin: auto;
    width: 30em;
    font-size: 15px;
  }

  .aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .allBoxesContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
    z-index: 1;
  }

  .titleContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .logoSpanContact {
    font: 700 1.21rem Raleway, sans-serif;
  }

  .formContact {
    background-color: #08080815;
    font: 700 1rem Raleway, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin: auto;
  }

  input {
    background-color: #1e2334;
    border: 1px solid #FE1D57;
    border-radius: 1px;
    height: 40px;
    color: #fff;
    width: 100vh;
  }

  textarea {
    background-color: #1e2334;
    border: 2px solid #FE1D57;
    border-radius: 5px;
    color: #fff;
    width: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .identite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .objet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100vh;
  }
  .objet input {
    width: 100vh;
  }

  .messageAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .messageAlign input {
    width: 80%;
  }

  textarea::-webkit-input-placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  textarea::-moz-placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  textarea:-ms-input-placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  textarea::-ms-input-placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  textarea::placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  input::-webkit-input-placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  input::-moz-placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  input:-ms-input-placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  input::-ms-input-placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  input::placeholder {
    color: #41414163;
    font: 700 1.4rem Raleway, sans-serif;
  }

  .buttonSend {
    width: 80%;
    margin-top: 15px;
    color: #fff;
    font: 700 1.4rem Raleway, sans-serif;
    display: flex;
    justify-content: end;
  }
  .buttonSend:hover {
    background: #FE1D57;
  }

  .boxReseaux {
    background-color: #1e2334;
    margin-top: 10%;
    text-align: end;
    width: fit-content;
  }

  .rsInsta {
    width: 2em;
    margin-bottom: 40%;
    margin-right: 15px;
  }
  .rsInsta:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .rsPinterest {
    width: 2em;
  }
  .rsPinterest:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .box5-footer {
    background-color: #2a3046;
    background-size: 100vh;
    grid-area: footer;
    height: 15vh;
    padding-top: 1.5%;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: max-content;
  }
}

/*# sourceMappingURL=style.css.map */
