@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
#loading-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  float: center;
  background-color: #000;
  opacity: 0;
  display: none;
}

.loading-animation {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* ZOOM ----------- */
#container-zoom {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 0;
  background-color: #313131;
  display: none;
}

#zoom {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#bubble-tail {
  position: absolute;
  margin-top: 20px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #313131;
}

#overlay-close {
  z-index: 10;
  background-color: #313131;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

#overlay-close:hover {
  opacity: 0.8;
}

.overlay-close-x {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  color: white;
  font-size: 4em;
  text-align: center;
  top: 50%;
  /* IE 9 */
  -webkit-transform: translateY(-50%);
  /* Safari */
  transform: translateY(-50%);
}

#main-stage {
  position: relative;
  width: auto;
  height: auto;
}

#grid {
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.image-grid, #container-zoom {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 50px;
}

.image-grid {
  min-width: 150px;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0);
  max-width: 350px;
  max-height: 550px;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  background-size: cover;
}

.image-grid:hover {
  opacity: 0.75;
}

.image-grid img, #zoom img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-grid img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.compat-object-fit {
  background-repeat: no-repeat;
  background-position: center center;
}

.title_innerGalerie {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FE1D57;
  margin-left: 20px;
  margin-bottom: 3px;
}

.description_name {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FE1D57;
  margin-bottom: 0;
}

.description_technical {
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
}

.toile img, #zoom img {
  display: block;
  width: 200%;
  height: 100%;
  margin: auto;
}

.title_innerGalerie2 {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF685;
  margin-left: 20px;
  margin-bottom: 3px;
}

.title_innerGalerie3 {
  font-size: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0149B7;
  margin-left: 20px;
  margin-bottom: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 800 1.3rem Raleway, sans-serif;
  color: #fff;
  cursor: none;
  margin: 0;
  background-color: #1e2334;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  display: inherit;
  z-index: 99999;
}

.link-grow {
  -webkit-transform: scale(3);
          transform: scale(3);
  background: rgba(255, 255, 255, 0.062);
}

.text-pict {
  -webkit-transform: scale(3.9);
          transform: scale(3.9);
  background: center 200%/cover no-repeat url("/assets/vrac.png");
}

.scrollDown {
  width: 30px;
  height: 54px;
  border: 3px solid #fff;
  border-radius: 60px;
  position: relative;
  margin: auto;
}

.scrollDown::before {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  background: #fff;
  left: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: scrollMouse 2s infinite;
          animation: scrollMouse 2s infinite;
}

@-webkit-keyframes scrollMouse {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes scrollMouse {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

.body-click {
  background: rgba(253, 245, 230, 0);
}

.title_animate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.title1 {
  --fill-color: #211dfe;
  margin: 0px;
  padding: 0px;
}

.title2 {
  margin: 0px;
  padding: 0px;
}

h1 {
  --fill-color: #FE1D57;
  position: relative;
  display: block;
  padding: 4px 0;
  font: 700 9rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--fill-color))) left/0 no-repeat;
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

h1:hover {
  background-size: 100%;
}

h2 {
  --fill-colortwo: #FE1D57;
  position: relative;
  display: block;
  padding: 4px 0;
  font: 700 9rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-colortwo);
  background: -webkit-gradient(linear, left top, right top, from(#fe1d57), color-stop(50%, #f95890), to(#fff685)) left/0 no-repeat;
  background: linear-gradient(90deg, #fe1d57 0%, #f95890 50%, #fff685 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-animation: 1.2s infinite;
          animation: 1.2s infinite;
}

h2:hover {
  background-size: 100%;
}

.text_home {
  text-align: end;
  margin-right: 10%;
}

/*--------menu------------*/
/* Menu burger */
#menu-burger {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 15px;
  padding-right: 10px;
  font-size: 2.2rem;
  right: 0;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
  width: 30px;
  height: 3.9px;
  background-color: #F1F1F1;
  margin: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#menu-burger:hover {
  opacity: .75;
  color: #FFF685;
  -webkit-transition: .5s;
  transition: .5s;
}

#menu-burger.clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

#menu-burger.clicked .bar2 {
  opacity: 0;
}

#menu-burger.clicked .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Main menu (slide) */
#menu {
  position: fixed;
  z-index: 99;
  left: 100%;
  top: auto;
  background: #063b6dc4;
  padding: 4em 2em;
  width: 50%;
  min-height: 80%;
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font: 700 3rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background .5s;
  transition: background .5s;
  text-align: start;
  margin-bottom: 1em;
  width: 50%;
}

#menu.visible {
  -webkit-animation: .5s  slideRight ease-in forwards;
          animation: .5s  slideRight ease-in forwards;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

#menu.invisible {
  -webkit-animation: 1s slideLeft ease-out forwards;
          animation: 1s slideLeft ease-out forwards;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

/* Animations pour le menu slide */
@keyframes slideRight {
  from {
    left: -5%;
  }
  to {
    left: 0%;
  }
}

@-webkit-keyframes slideRight {
  from {
    left: 0%;
  }
  to {
    left: 0%;
  }
}

@keyframes slideLeft {
  from {
    left: 0%;
  }
  to {
    left: -250%;
  }
}

@-webkit-keyframes slideLeft {
  from {
    left: 0%;
  }
  to {
    left: -25%;
  }
}

/* Responsive design */
@media (max-width: 1024px) {
  #menu {
    left: -50%;
    width: 50%;
  }
  #menu-burger.clicked {
    position: fixed;
  }
  /* Animations pour le menu slide */
  @keyframes slideRight {
    from {
      left: 20%;
    }
    to {
      left: 0%;
    }
  }
  @-webkit-keyframes slideRight {
    from {
      left: 20%;
    }
    to {
      left: 0%;
    }
  }
  @keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -50%;
    }
  }
  @-webkit-keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -50%;
    }
  }
}

@media (max-width: 600px) {
  #menu-burger {
    top: 1em;
    right: 2em;
    z-index: 9999;
  }
  #menu {
    left: -100%;
    width: 100%;
  }
  /* Animations pour le menu slide */
  @keyframes slideRight {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  @-webkit-keyframes slideRight {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }
  @keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  @-webkit-keyframes slideLeft {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
}

/* -----------statue ----------*/
#statue-image {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 50%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#statue_head {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 16;
  margin-top: 130px;
  margin-left: 500px;
  -webkit-animation: 4s move_statue_head;
          animation: 4s move_statue_head;
}

#statue_head:hover {
  -webkit-animation: 4s move_statue_head;
          animation: 4s move_statue_head;
}

@-webkit-keyframes move_statue_head {
  from {
    width: 40%;
  }
  to {
    width: 42%;
  }
}

@keyframes move_statue_head {
  from {
    width: 40%;
  }
  to {
    width: 42%;
  }
}

#statue_brow {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin-top: 140px;
  margin-left: 500px;
  z-index: 14;
  -webkit-animation: 3s move_statue_brow;
          animation: 3s move_statue_brow;
}

#statue_brow:hover {
  -webkit-animation: 4s move_statue_brow;
          animation: 4s move_statue_brow;
}

@-webkit-keyframes move_statue_brow {
  0% {
    -webkit-transform: translateX(27rem) scale(0.9);
            transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes move_statue_brow {
  0% {
    -webkit-transform: translateX(27rem) scale(0.9);
            transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

#statue_eyes {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin-top: 174px;
  margin-left: 500px;
  z-index: 12;
  -webkit-animation: 3s move_statue_eyes;
          animation: 3s move_statue_eyes;
}

#statue_eyes:hover {
  -webkit-animation: 4s move_statue_eyes;
          animation: 4s move_statue_eyes;
}

@-webkit-keyframes move_statue_eyes {
  from {
    -webkit-transform: translateX(27rem) scale(0.9);
            transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes move_statue_eyes {
  from {
    -webkit-transform: translateX(27rem) scale(0.9);
            transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

#statue_piedestal {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin-top: 190px;
  margin-left: 450px;
  z-index: 10;
  -webkit-animation: 3s move_statue_piedestal;
          animation: 3s move_statue_piedestal;
}

#statue_piedestal:hover {
  -webkit-animation: 4s move_statue_piedestal;
          animation: 4s move_statue_piedestal;
}

@-webkit-keyframes move_statue_piedestal {
  from {
    margin-left: 12%;
  }
  to {
  }
}

@keyframes move_statue_piedestal {
  from {
    margin-left: 12%;
  }
  to {
  }
}

#statue_txt-bienvenue {
  font-size: 120px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FE1D57;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  margin: 150px 300px 0 700px;
  z-index: 15;
  -webkit-animation: 4s move_txt-bienvenue;
          animation: 4s move_txt-bienvenue;
}

#statue_txt-bienvenue:hover {
  -webkit-animation: 4s move_txt-bienvenue;
          animation: 4s move_txt-bienvenue;
}

@-webkit-keyframes move_txt-bienvenue {
  0% {
    -webkit-transform: translateX(-27rem) scale(0.9);
            transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes move_txt-bienvenue {
  0% {
    -webkit-transform: translateX(-27rem) scale(0.9);
            transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

#statue_txt-dans_la {
  font: 800 8rem Raleway, sans-serif;
  text-transform: uppercase;
  color: #FFF685;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  margin: 280px 300px 0 700px;
  z-index: 13;
  -webkit-animation: 3s move_txt-dans_la;
          animation: 3s move_txt-dans_la;
}

#statue_txt-dans_la:hover {
  -webkit-animation: 4s move_txt-dzns_la;
          animation: 4s move_txt-dzns_la;
}

@-webkit-keyframes move_txt-dans_la {
  0% {
    -webkit-transform: translatey(27rem) scale(0.9);
            transform: translatey(27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0rem) scale(1);
            transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes move_txt-dans_la {
  0% {
    -webkit-transform: translatey(27rem) scale(0.9);
            transform: translatey(27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0rem) scale(1);
            transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}

#statue_txt-galerie {
  font: 800 11rem Raleway, sans-serif;
  color: #0149B7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  margin: 410px 300px 0 700px;
  z-index: 11;
}

#statue_txt-galerie:hover {
  -webkit-animation: 4s move_txt-galerie;
          animation: 4s move_txt-galerie;
}

@-webkit-keyframes move_txt-galerie {
  0% {
    -webkit-transform: translatey(0rem) scale(1.2);
            transform: translatey(0rem) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0rem) scale(1);
            transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes move_txt-galerie {
  0% {
    -webkit-transform: translatey(0rem) scale(1.2);
            transform: translatey(0rem) scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0rem) scale(1);
            transform: translatey(0rem) scale(1);
    opacity: 1;
  }
}

.paperPlane {
  position: absolute;
  height: 50%;
  z-index: -99;
  -webkit-animation: 30s paperPlaneMove linear 30s infinite alternate;
          animation: 30s paperPlaneMove linear 30s infinite alternate;
}

@-webkit-keyframes paperPlaneMove {
  0% {
    -webkit-transform: translateX(-200%) scale(0.9);
            transform: translateX(-200%) scale(0.9);
    opacity: 0;
  }
  10% {
    -webkit-transform: translatex(220%) scale(1);
            transform: translatex(220%) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translatey(4%) scale(1);
            transform: translatey(4%) scale(1);
    opacity: 1;
  }
}

@keyframes paperPlaneMove {
  0% {
    -webkit-transform: translateX(-200%) scale(0.9);
            transform: translateX(-200%) scale(0.9);
    opacity: 0;
  }
  10% {
    -webkit-transform: translatex(220%) scale(1);
            transform: translatex(220%) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translatey(4%) scale(1);
            transform: translatey(4%) scale(1);
    opacity: 1;
  }
}

.allBoxesContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin: 0 50% 2% 50%;
  z-index: 1;
}

.box1Contact {
  /* --- logo --- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.logoTitleContact {
  --fill-color: #FE1D57;
  position: relative;
  display: block;
  font: 700 9rem Raleway, sans-serif;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--fill-color))) left/0 no-repeat;
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.logoTitleContact:hover {
  background-size: 100%;
}

.logoSpanContact {
  color: #FFF685;
  font: 700 2.21rem Raleway, sans-serif;
  margin-top: -2px;
}

.box3Contact {
  /* --- Content --- */
  background-color: #08080815;
  font: 700 2rem Raleway, sans-serif;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

input {
  background-color: #1e2334;
  border: 1px solid #FE1D57;
  border-radius: 1px;
  height: 40px;
}

textarea {
  background-color: #1e2334;
  border: 2px solid #FE1D57;
  border-radius: 5px;
}

.identite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.objet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.objet input {
  width: 80%;
}

.messageAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messageAlign input {
  width: 80%;
}

textarea::-webkit-input-placeholder {
  color: #74747136;
  font: 700 1.4rem Raleway, sans-serif;
}

textarea:-ms-input-placeholder {
  color: #74747136;
  font: 700 1.4rem Raleway, sans-serif;
}

textarea::-ms-input-placeholder {
  color: #74747136;
  font: 700 1.4rem Raleway, sans-serif;
}

textarea::placeholder {
  color: #74747136;
  font: 700 1.4rem Raleway, sans-serif;
}

input::-webkit-input-placeholder {
  color: #74747136;
  font: 700 1.4rem Raleway, sans-serif;
}

input:-ms-input-placeholder {
  color: #74747136;
  font: 700 1.4rem Raleway, sans-serif;
}

input::-ms-input-placeholder {
  color: #74747136;
  font: 700 1.4rem Raleway, sans-serif;
}

input::placeholder {
  color: #74747136;
  font: 700 1.4rem Raleway, sans-serif;
}

.button {
  width: 40%;
  float: right;
  margin-top: 15px;
  color: #fff;
  font: 700 1.4rem Raleway, sans-serif;
}

.button:hover {
  background: #FE1D57;
}

.box4Contact {
  /* --- Reseaux sociaux --- */
  background-color: #1e2334;
  float: right;
  margin-top: 10%;
}

.rsInsta {
  width: 2em;
  margin-bottom: 40%;
}

.rsInsta:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.rsPinterest {
  width: 2em;
}

.rsPinterest:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.box5-footer {
  background-color: #2a3046;
  grid-area: footer;
  height: 15vh;
  text-align: center;
  padding-top: 1.5%;
  margin-top: 0;
}

/*-----------------*/
@keyframes scrollMouse {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(-27rem) scale(0.9);
            transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(-27rem) scale(0.9);
            transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(27rem) scale(0.9);
            transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(27rem) scale(0.9);
            transform: translateX(27rem) scale(0.9);
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(50vw, 46vh, 14px);
            transform: translate3d(50vw, 46vh, 14px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(50vw, 46vh, 14px);
            transform: translate3d(50vw, 46vh, 14px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.89;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(57vw, 39vh, 27px);
          transform: translate3d(57vw, 39vh, 27px);
  background: #d94d26;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(78vw, 4vh, 33px);
            transform: translate3d(78vw, 4vh, 33px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(78vw, 4vh, 33px);
            transform: translate3d(78vw, 4vh, 33px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.02;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(2vw, 82vh, 40px);
          transform: translate3d(2vw, 82vh, 40px);
  background: #d92697;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(83vw, 29vh, 86px);
            transform: translate3d(83vw, 29vh, 86px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(83vw, 29vh, 86px);
            transform: translate3d(83vw, 29vh, 86px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.35;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(40vw, 53vh, 18px);
          transform: translate3d(40vw, 53vh, 18px);
  background: #d9263b;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(32vw, 51vh, 51px);
            transform: translate3d(32vw, 51vh, 51px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(32vw, 51vh, 51px);
            transform: translate3d(32vw, 51vh, 51px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.51;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(51vw, 45vh, 69px);
          transform: translate3d(51vw, 45vh, 69px);
  background: #d92653;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(70vw, 82vh, 24px);
            transform: translate3d(70vw, 82vh, 24px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(70vw, 82vh, 24px);
            transform: translate3d(70vw, 82vh, 24px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.71;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(60vw, 3vh, 24px);
          transform: translate3d(60vw, 3vh, 24px);
  background: #2677d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(51vw, 24vh, 71px);
            transform: translate3d(51vw, 24vh, 71px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(51vw, 24vh, 71px);
            transform: translate3d(51vw, 24vh, 71px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.81;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(54vw, 48vh, 74px);
          transform: translate3d(54vw, 48vh, 74px);
  background: #50d926;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(46vw, 53vh, 36px);
            transform: translate3d(46vw, 53vh, 36px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(46vw, 53vh, 36px);
            transform: translate3d(46vw, 53vh, 36px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.43;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(34vw, 7vh, 34px);
          transform: translate3d(34vw, 7vh, 34px);
  background: #26d93b;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(70vw, 74vh, 36px);
            transform: translate3d(70vw, 74vh, 36px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(70vw, 74vh, 36px);
            transform: translate3d(70vw, 74vh, 36px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.87;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(36vw, 27vh, 72px);
          transform: translate3d(36vw, 27vh, 72px);
  background: #9426d9;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(46vw, 24vh, 84px);
            transform: translate3d(46vw, 24vh, 84px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(46vw, 24vh, 84px);
            transform: translate3d(46vw, 24vh, 84px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.51;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(16vw, 32vh, 73px);
          transform: translate3d(16vw, 32vh, 73px);
  background: #65d926;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(37vw, 74vh, 69px);
            transform: translate3d(37vw, 74vh, 69px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(37vw, 74vh, 69px);
            transform: translate3d(37vw, 74vh, 69px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.54;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(4vw, 41vh, 77px);
          transform: translate3d(4vw, 41vh, 77px);
  background: #97d926;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(59vw, 44vh, 73px);
            transform: translate3d(59vw, 44vh, 73px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(59vw, 44vh, 73px);
            transform: translate3d(59vw, 44vh, 73px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.75;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(21vw, 7vh, 81px);
          transform: translate3d(21vw, 7vh, 81px);
  background: #3226d9;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(74vw, 49vh, 90px);
            transform: translate3d(74vw, 49vh, 90px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(74vw, 49vh, 90px);
            transform: translate3d(74vw, 49vh, 90px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.5;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(9vw, 81vh, 38px);
          transform: translate3d(9vw, 81vh, 38px);
  background: #d94a26;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(7vw, 26vh, 2px);
            transform: translate3d(7vw, 26vh, 2px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(7vw, 26vh, 2px);
            transform: translate3d(7vw, 26vh, 2px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.55;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(70vw, 60vh, 81px);
          transform: translate3d(70vw, 60vh, 81px);
  background: #c1d926;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(44vw, 83vh, 30px);
            transform: translate3d(44vw, 83vh, 30px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(44vw, 83vh, 30px);
            transform: translate3d(44vw, 83vh, 30px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(12vw, 33vh, 42px);
          transform: translate3d(12vw, 33vh, 42px);
  background: #56d926;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(87vw, 36vh, 81px);
            transform: translate3d(87vw, 36vh, 81px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(87vw, 36vh, 81px);
            transform: translate3d(87vw, 36vh, 81px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.16;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(37vw, 18vh, 55px);
          transform: translate3d(37vw, 18vh, 55px);
  background: #d9a626;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(33vw, 38vh, 44px);
            transform: translate3d(33vw, 38vh, 44px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(33vw, 38vh, 44px);
            transform: translate3d(33vw, 38vh, 44px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.25;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(49vw, 48vh, 94px);
          transform: translate3d(49vw, 48vh, 94px);
  background: #8ed926;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(37vw, 68vh, 78px);
            transform: translate3d(37vw, 68vh, 78px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(37vw, 68vh, 78px);
            transform: translate3d(37vw, 68vh, 78px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 1;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(13vw, 11vh, 86px);
          transform: translate3d(13vw, 11vh, 86px);
  background: #d92635;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(28vw, 77vh, 88px);
            transform: translate3d(28vw, 77vh, 88px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(28vw, 77vh, 88px);
            transform: translate3d(28vw, 77vh, 88px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.19;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(68vw, 32vh, 38px);
          transform: translate3d(68vw, 32vh, 38px);
  background: #d92629;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(50vw, 85vh, 97px);
            transform: translate3d(50vw, 85vh, 97px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(50vw, 85vh, 97px);
            transform: translate3d(50vw, 85vh, 97px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.97;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(80vw, 56vh, 76px);
          transform: translate3d(80vw, 56vh, 76px);
  background: #26d950;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(62vw, 55vh, 22px);
            transform: translate3d(62vw, 55vh, 22px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(62vw, 55vh, 22px);
            transform: translate3d(62vw, 55vh, 22px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.68;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(14vw, 90vh, 99px);
          transform: translate3d(14vw, 90vh, 99px);
  background: #269dd9;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(40vw, 83vh, 80px);
            transform: translate3d(40vw, 83vh, 80px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(40vw, 83vh, 80px);
            transform: translate3d(40vw, 83vh, 80px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.07;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(65vw, 62vh, 82px);
          transform: translate3d(65vw, 62vh, 82px);
  background: #d99a26;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(84vw, 64vh, 88px);
            transform: translate3d(84vw, 64vh, 88px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(84vw, 64vh, 88px);
            transform: translate3d(84vw, 64vh, 88px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.44;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(60vw, 15vh, 55px);
          transform: translate3d(60vw, 15vh, 55px);
  background: #26d9b5;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(35vw, 17vh, 60px);
            transform: translate3d(35vw, 17vh, 60px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(35vw, 17vh, 60px);
            transform: translate3d(35vw, 17vh, 60px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.38;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(55vw, 7vh, 19px);
          transform: translate3d(55vw, 7vh, 19px);
  background: #26d968;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(63vw, 39vh, 32px);
            transform: translate3d(63vw, 39vh, 32px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(63vw, 39vh, 32px);
            transform: translate3d(63vw, 39vh, 32px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.87;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(18vw, 45vh, 5px);
          transform: translate3d(18vw, 45vh, 5px);
  background: #26d997;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(80vw, 75vh, 88px);
            transform: translate3d(80vw, 75vh, 88px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(80vw, 75vh, 88px);
            transform: translate3d(80vw, 75vh, 88px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.14;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(33vw, 40vh, 49px);
          transform: translate3d(33vw, 40vh, 49px);
  background: #d92f26;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(40vw, 11vh, 8px);
            transform: translate3d(40vw, 11vh, 8px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(40vw, 11vh, 8px);
            transform: translate3d(40vw, 11vh, 8px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.47;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(59vw, 87vh, 52px);
          transform: translate3d(59vw, 87vh, 52px);
  background: #59d926;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(37vw, 69vh, 28px);
            transform: translate3d(37vw, 69vh, 28px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(37vw, 69vh, 28px);
            transform: translate3d(37vw, 69vh, 28px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.57;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(23vw, 63vh, 12px);
          transform: translate3d(23vw, 63vh, 12px);
  background: #a9d926;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(66vw, 70vh, 47px);
            transform: translate3d(66vw, 70vh, 47px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(66vw, 70vh, 47px);
            transform: translate3d(66vw, 70vh, 47px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.31;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(38vw, 46vh, 97px);
          transform: translate3d(38vw, 46vh, 97px);
  background: #26d97a;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(66vw, 62vh, 34px);
            transform: translate3d(66vw, 62vh, 34px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(66vw, 62vh, 34px);
            transform: translate3d(66vw, 62vh, 34px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.71;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(86vw, 27vh, 90px);
          transform: translate3d(86vw, 27vh, 90px);
  background: #d3d926;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(66vw, 1vh, 4px);
            transform: translate3d(66vw, 1vh, 4px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(66vw, 1vh, 4px);
            transform: translate3d(66vw, 1vh, 4px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.66;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(13vw, 25vh, 27px);
          transform: translate3d(13vw, 25vh, 27px);
  background: #2fd926;
}
/*# sourceMappingURL=style.css.map */